html {
    font-size: 16px;
    font-family: 'Roboto', Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333B41;
}

.petstory {
    color: black;
}

.button {
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    height: 54px;
    width: 254px;
    color: white;
    border: 0;
    margin-top: 60px;
    cursor: pointer;
}

.button__rounded {
    border-radius: 54px;
}

.button__rectangular {
    border-radius: 5px;
}

.button__donate {
    width: 298px;
    margin-top: 68px;
    margin-bottom: 44px;
}

.button__round {
    position: absolute;
    height: 54px;
    width: 54px;
    border-radius: 54px;
    border: none;
    background-color:#F9804B;
    color: white;
    cursor: pointer;
}

.button__centered {
    position: absolute;
    left: 720px;
}

.button__watch {
    margin-top: 76px;
    align-self: center;
}
.button__left {
    position: absolute;
    left: 180px;
    top: 2012px;
    background-image: url("https://dimibibikau.github.io/online-zoo/storage/icons/left_arrow.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.button__right {
    position: absolute;
    right: 110px;
    top: 2012px;
    background-image: url("https://dimibibikau.github.io/online-zoo/storage/icons/right_arrow.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.button__submit {
    width: 129px;
    height: 42px;
    color: #4B9200;
    border: solid 1px #4B9200;
    background-color: white;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.input__subscribe {
    width: 228px;
    height: 38px;
    border: 1px solid #F9804B;
    background-color: black;
    color: white;
    padding-left: 10px;
    border-radius: 2px;
}

.active {
    color: #FFEE2E;
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
    /* padding: 0 220px; */
}

.header {
    background-color: black;
}

.header__navigation {
    display: flex;
    align-items: center;
    color: white;
    height: 80px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 63px;
    margin-right: auto
}

.navigation__item {
    padding-left: 58px;
    /* transition: color .3s; */
}

.navigation__item a {
    color: white;
    transition: color 0.5s;
}

.navigation__item a:hover {
    color: #F9804B;
}

.navigation__item_active {
    color:#F9804B;
    padding-left: 5px;
}

.online-zoo-logo__link {
    width: 82px;
    height: 52px;
}

.online-zoo-logo__link__h1 {
    border: 1px solid white;
    font-size: 19px;
    font-weight: 400;
    line-height: 120%;
    width: 82px;
    height: 52px;
    padding: 2px;
    text-align: center;
}

.bamboo-stick__header {
    position: absolute;
    left: 235px;
    top: 42px;
}

.bamboo-stick__footer {
    position: absolute;
    left: 235px;
    bottom: 350px;
}

.main {
}

.intro {
    background-image: url('https://dimibibikau.github.io/online-zoo/storage/pictures/Giant_Panda.png');
    background-repeat: no-repeat;
}

.orange_circle {
    position: absolute;
    top: 96px;
    left: 807px;
    width: 465px;
    height: 465px;
    background-color: #F9804B;
    border-radius: 50%;
    z-index: 0;
}

.flower_foto {
    position: absolute;
    top: 880px;
    right: -84px;
    width: 293px;
    height: 605px;
    background-image: url(https://dimibibikau.github.io/online-zoo/storage/pictures/flower_foto.png);
    background-repeat: no-repeat;
    z-index: 0;
}

.palm_foto {
    position: absolute;
    top: 2384px;
    left: 8px;
    width: 880px;
    height: 460px;
    background-image: url(https://dimibibikau.github.io/online-zoo/storage/pictures/palm_foto.png);
    background-repeat: no-repeat;
    z-index: 0;
}

.strelitzia_foto {
    position: absolute;
    top: 2570px;
    right: -504px;
    width: 880px;
    height: 460px;
    background-image: url(https://dimibibikau.github.io/online-zoo/storage/pictures/strelitzia_foto.png);
    background-repeat: no-repeat;
    z-index: 0;
}

.leaf_foto {
    position: absolute;
    top: 4700px;
    right: -624px;
    width: 880px;
    height: 460px;
    background-image: url(https://dimibibikau.github.io/online-zoo/storage/pictures/leaf_foto.png);
    background-repeat: no-repeat;
    z-index: -1;
}

.intro__watch-animal__container {
    display: flex;
    justify-content: flex-end;
    max-width: 1160px;
}

.watch-animal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 86px;
    height: 700px;
    color: white;
    left: 0;
    z-index: 3;
}

.watch-animal__text {
    font-size: 106px;
    font-weight: 700;
    line-height: 80px;
    text-align: center;
    height: 400px;
    width: 500px;
    right: 220px;
    z-index: 1;
}

.wilderness-backstage {
    height: 1830px;
}

.wilderness-backstage__content {
    max-width: 1200px;
    margin-top: 140px;
    margin-bottom: 100px;
}

.wilderness-backstage__content__header__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 87px;
    max-width: 465px;
}

.intro__heading {
    font-size: 48px;
    line-height: 120%;
    font-weight: 400;
}

.intro__subheading {
    font-size: 24px;
    line-height: 120%;
    font-weight: 400;
    margin-top: 30px;
}

.wilderness_backstage__content__header {
    display: flex;
    margin-top: 30px;
}

.wilderness_backstage__content__envelope {
    display: flex;
    flex-direction: row;
    margin-top: 180px;
    width: 1200px;
}

.wilderness-backstage__content__animals {
    display: flex;
    flex-wrap: wrap;
}

.animals__item {
    width: 366px;
    height: 426px;
    border: solid 1px #F9804B;
    border-radius: 5px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.animals__item_pic {
    width: 366px;
    height: 366px;
}

.item__description {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.pick-a-friend {
    height: 1000px;
    background:linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%);
    opacity: 0.9;
    padding-top: 70px;
}

.pick-a-friend__card {
    max-width: 1160px;
    border-radius: 20px;
    height: 835px;
    background-color: rgba(253, 253, 255, 0.52);
}

.pick-a-friend__card__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.pick-a-friend__card__contents__description {
    padding-left: 100px;
    z-index: 100;
}

.pick-a-friend__heading {
    font-weight: 400;
    font-size: 48px;
    color: #F9804B;
    margin-top: 40px;
    z-index: 100;
}

.pick-a-friend__tagline {
    font-weight: 400;
    font-size: 24px;
    margin-top: 30px;
    align-self: flex-start;
}

.pick-a-friend__subtagline {
    font-weight: 500;
    margin-top: 40px;
    align-self: flex-start;
}

.pick-a-friend__text {
    align-self: flex-start;
    margin-top: 10px;
}

.pick-a-friend__subheadline {
    font-weight: 400;
    font-size: 36px;
    margin-top: 60px;
}

.text__underlined {
    border-bottom: 2px solid #F9804B;
}
.donation-scheme {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.donation-scheme__point_logo-box {
    width: 168px;
    height: 168px;
    border: solid 1px #F9804B;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.arrow {
    height: 35px;
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
}

.testimonials {
    height: 906px;
}

.testimonials__content {
    max-width: 1160px;
}

.testimonials__heading {
    font-size: 36px;
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    margin-top: 140px;
}

.testimonials__content_deck {
    display: flex;
    margin-top: 47px;
}

.testimonials__item__border {
}

.testimonials__item {
    width: 232px;
    height: 355px;
    border: solid 1px #F9804B;
    /* border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%); */
    border-radius: 20px;
    background-color: #F1F3F2;
    padding: 16px;
    margin-right: 30px;
    margin-bottom: 21px;
}

.testimonials__item__header {
    display: flex;
}

.testimonial__text {
    font-weight: 300;
    font-size: 15px;
}

.testimonials__item__header__text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 10px;
}

.testimonials__item__header__intro {
}

.testimonials__item__header__intro__coordinates {
    font-weight: 100;
}

.avatar {
    height: 37px;
    width: 37px;
}

/* .dot {
    height: 3px;
    width: 3px;
} */

.slider__box {
    width: 599px;
    height: 8px;
    border-radius: 8px;
    border: solid 1px #F9804B;
    background-color: #F1F3F2;
    color: white;
    margin-bottom: 32px;
    margin-left: 0;
    margin: 0 auto;
}

.slider {
    width: 115px;
    height: 8px;
    border-radius: 8px;
    background-color: #F9804B;
    color: #F9804B;
}

.footer {
    background-color: black;
    color: white;
    height: 443px;
}

.footer__contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 41px;
    max-width: 1160px;
    height: 353px;
}

.side-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center-column {
    display: flex;
    flex-direction: row;
    margin-left: 101px;
    align-items: flex-end;
}

.footer__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
}

.socials__company {
    display: flex;
    align-items: center;
}

.socials__company__logo {
    padding-right: 12px;
    padding-bottom: 10px;
}

.subscription-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.input__heading {
    line-height: 120%;
    margin-bottom: 14px;
}

.author {
    font-weight: 100;
    line-height: 20.8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.author__line {
    padding-top: 10px;
}

@media (max-width: 1599px) {
    .wrapper {
        width: 960px;
    }

    /* HEADER */

    .header{
        z-index: 100;
    }

    .bamboo-stick__header {
        position: relative;
        right: 75px;
        bottom: -5px;
    }

    .navigation__item {
        padding-left: 48px;
    }

    .navigation__item_active {
        color:#F9804B;
        padding-left: 5px;
    }

    .navigation__burger {
        display: none;
    }
    /* WATCH ANIMAL */

    .intro {
        background-size: contain;
        height: 504px;
    }

    .intro__watch-animal__container {
        z-index: -100;
    }

    .watch-animal {
        height: 400px;
        padding-top: 40px;
    }

    .watch-animal__text {
        font-size: 80px;
        height: 320px;
        line-height: 75%;
        left: calc(50% - 400.25px/2 + 214.12px);
    }

    .orange_circle{
        width: 367px;
        height: 367px;
        left: calc(50% - 367px/2 + 139.5px);
        top: 69px;
        z-index: 0;
    }

    .button__watch {
        margin-top: 40px;
    }

    /* BACKSTAGE WILDERNESS */
    .flower_foto{
        display: none;
    }

    .wilderness-backstage{
        height: 1744px;
    }

    .wilderness_backstage__content__envelope{
        margin-top: 142px;
    }

    .wilderness-backstage__content{
        margin-top: 100px;
    }

    .wilderness-backstage__content__header {
        max-height: 408px;
    }

    .old-man-photo {
        height: 408px;
        width: 455px;
    }

    .intro__heading{
        font-size: 48px;
    }

    .wilderness-backstage__content__header__text{
        margin-left: 31px;
    }

    .animals__item{
        width: 294px;
        height: 354px;
        margin-left: 0;
        margin-right: 29px;
        margin-bottom: 92px;
    }

    .animals__item_pic{
        width: 294px;
        height: 294px;
    }

    .tablet-invisible {
        display: none;
    }

    .button__left, .button__right {
        top: 1616px;
    }

    .button__centered{
        left: calc(50% - 127px);
        margin-top: 0;
    }

    .palm_foto{
        scale: 50%;
        left: -212px;
        top: 2091px;
    }

    .strelitzia_foto{
        scale: 50%;
        top: 2184px;
        left: calc(100% - 412px);

    }

    /* PICK A FRIEND */
    .pick-a-friend{
        padding-top: 30px;
        top: 2300px;
        height: 846px;
    }

    .pick-a-friend__card{
        height: 796px;
    }

    .pick-a-friend__tagline, .pick-a-friend__subtagline{
        margin-top: 20px;
    }

    .pick-a-friend__subheadline{
        margin-top: 40px;
    }

    .button__rounded{
        margin-top: 70px;
    }

    /* TESTIMONIALS */

    .testimonials{
        height: 842px;
    }

    .testimonials__heading{
        margin-top: 100px;
    }

    .testimonials__content{
        /* max-width: 940px; */
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .testimonials__content_deck{
        justify-content: space-between;
    }

    .testimonials__item{
        margin-right: 15px;
        margin-left: 15px;
    }

    .leaf_foto{
        scale: 50%;
        top: 4000px;
        left: calc(100% - 352px);
    }

    /* footer */
    .bamboo-stick__footer {
        position: absolute;
        left: 235px;
        bottom: 350px;
    }

    .footer__contents {
        max-width: 939px;
    }

    .side-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mobile__logo_smallest {
        display: none;
    }

    .right-column {
        position: relative;
        left: 0px;
        min-width: 398px;
    }

    .center-column {
        display: flex;
        flex-direction: row;
        margin-left: 0;
        align-items: flex-end;
        min-width: 400px;
    }

    .subscription-form {
        position: absolute;
        left: -156px;
        min-width: 550px;
    }

    .author {
        position: absolute;
        left: -35px;
        font-weight: 100;
        line-height: 20.8px;
        height: 353px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }
}

@media (max-width: 999px) {

}

@media (max-width: 639px) {

}